.navbar {
  background-color: bisque;
  padding: 10px 20px;
  margin: 10px;
  color: black;
}

.activeNavbar {
  background-color: black;
  padding: 10px 20px;
  margin: 10px;
  color: white;
}

.container-navbar {
  width: 100%;
}

.container-items {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
